.page {
  width: 100%;
  background: #F8F5D5;
  height: 100%;
}

.editmyfollowing {
  font-weight: 600;
  font-size: 30px;
  padding: 70px;
}

.followtopictap {
  background: white;
  border-radius: 10px;
  height: 500px;
  padding: 10px;
  width: 70%;
  margin-left: 15%;
}

.headtopicfollow {
  text-align: center;
  margin-top: 20px;
}

.followtopic {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.selecttopic {
  color: gray;
}

.seltopicfollow {
  display: flex;
  width: 100%;
}

.followbtn {
  font-weight: 600;
  font-size: 20px;
  background-color: white;
  width: 100%;
  height: 40px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
  /* border-style: solid; */
}

.followbtn:hover {
  color: #2a8052;
}

.generaltog {
  color: #2a8052;
}

.studytog {
  color: #2a8052;
}

.facultytog {
  color: #2a8052;
}

.inbtn {
  margin: 0px 5%;
}

.greentab {
  background-color: #2a8052;
  height: 3px;
  transition-duration: 0.2s;
}

.selcomfol {
  background: #D6EBE0;
  width: 70%;
  height: 270px;
  font-size: larger;
  overflow: hidden;
  text-align: justify;
  padding: 20px 40px;
  margin: 0px 10%;
  margin-top: 10px;
}

.scrollgeneralfol {
  display: flex;
  height: 260px;
  overflow-y: scroll;
  /* border-style: solid; */
}

.scrollstudyfol {
  display: flex;
  height: 260px;
  overflow-y: scroll;
  /* border-style: solid; */
}

.scrollfacultyfol {
  display: flex;
  height: 260px;
  overflow-y: scroll;
  /* border-style: solid; */
}

.comleft {
  /* border-style: solid; */
  width: 50%;
}

.comright {
  /* border-style: solid; */
  width: 50%;
}

.checkbox-wrapper-fol {
  margin-bottom: 3%;
  /* margin-left: 10%; */
}

.checked-itemfol,
.not-checked-itemfol {
  margin-left: 20px;
}
.checked-itemfol {
  text-decoration: line-through;
}

.itemname {
  margin-left: 10px;
}

.noting {
  display: none;
}

.btnbottomfol {
  display: flex;
  width: 100%;
  margin-top: 5%;
}

.bthfol {
  margin: auto 0px;
  margin-left: 60%;
}

.backtohome {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 24px;
  transition-duration: 0.2s;
}

.backtohome:hover {
  color: #339C64;
}

.postbtnfol {
  width: 100%;
  margin-left: 20px;
  font-weight: 600;
  font-size: 24px;
  color: white;
  background-color: #339C64;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.postbtnfol:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  font-size: 28px;
  background-color: #2a8052;
}