.home_search {
  position: sticky;
  height: 250px;
  width: 100%;
  top: 70px;
  background-color: white;
  z-index: 3;
  overflow: hidden;
}

.Nav_home {
  height: 70px;
  position: sticky;
  z-index: 8;
}

.home_test {
  background-color: #f8f5d5;
  height: 100vh;
  overflow-y: scroll;
}

.Home_post {
  background-color: #f8f5d5;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding: 30px 0;
}

.home_block {
  background-color: #f8f5d5;
  height: 100px;
  width: 100px;
}

.home_search_lorem {
  position: absolute;
  margin-top: 60px;
  margin-left: 26.5%;
  width: 40%;
  font-size: 30px;
}

.home_search_title {
  position: absolute;
  width: 450px;
  left: 20%;
  margin-top: 40px;
}

.home_search_box {
  width: 50%;
}

.think_img_box {
  width: 50%;
  margin-left: max(650px, 55%);
}

.think_img_photo {
  width: 322.2px;
  height: 227.7px;
}

.home_search_input {
  margin-top: 150px;
  position: absolute;
  z-index: 3;
  margin-left: 20%;
  width: max(25%, 320px);
}

.search_input {
  float: left;
  height: 25px;
  width: 80%;
  border: 1.5px solid rgb(0, 0, 0);
}

.search-button {
  position: absolute;
  float: left;
  border: 1.5px solid rgb(0, 0, 0);
  height: 28px;
  width: 28px;
  background-color: black;
}

.Nav_topic {
  position: sticky;
  top: 320px;
  text-align: center;
  height: 50px;
  background-color: #f8f5d5;
  z-index: 2;
}

.Nav_topic div {
  margin-top: 15px;
  display: inline-block;
  width: 20%;
  cursor: pointer;
}

.Nav_topic div:hover {
  color: #339c64;
  text-decoration: underline;
}

.Home_page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

.testpost {
  /* position: absolute; */
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.current_category {
  color: #339c64;
  text-decoration: underline;
}

.current_topic {
  color: #339c64;
  text-decoration: underline;
}

.home_checkbox {
  position: relative;
  left: max(50%, 640px);
  margin-left: -390px;
}

.home_checkbox input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.15em solid #339c64;
  appearance: none;
  cursor: pointer;
  display: inline-block;
}

.Home_post input:checked {
  position: relative;
  left: 0.3em;
  width: 0.7em;
  height: 0.7em;
  background-color: #339c64;
  box-shadow: 0 0 0 0.15em #d6ebe0, 0 0 0 0.3em #339c64;
  margin-right: 0.6em;
}

.Home_post label {
  display: inline-block;
  margin: 0.3em 0 0.55em 0.7em;
}

.display_none {
  display: none;
}

.Home_post_sidebar {
  display: inline-block;
  position: relative;
}

.post_faculty {
  /* margin-left: max(200px, 25%); */
  /* margin: auto; */
  margin-left: 250px;
}

.home_sidebar {
  position: absolute;
  top: 450px;
  width: max(25%, 300px);
  /* width: auto; */
  height: 400px;
  /* background-color: aqua; */
  margin: 0 auto;
  /* text-align: center; */
  overflow: hidden;
  left: -30px;
}

.test2 div {
  width: 200px;
  margin: 0 auto;
  background-color: #339c64;
}

.select_faculty {
  top: 15px;
  list-style-type: none;
  position: relative;
  left: 40%;

  /* z-index: 13; */
}

.select_faculty li {
  cursor: pointer;
  /* width: auto; */
  width: 180px;
  /* background-color: bisque; */
}

.select_faculty li:hover {
  color: #339c64;
  text-decoration: underline;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #339c64;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.test2 div {
  width: 200px;
  margin: 0 auto;
  background-color: #339c64;
}

.select_faculty {
  top: 15px;
  list-style-type: none;
  position: relative;
  left: 40%;
}

.select_faculty li {
  cursor: pointer;
  /* width: auto; */
  width: 180px;
  /* background-color: bisque; */
}

.select_faculty li:hover {
  color: #339c64;
  text-decoration: underline;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #339c64;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
