.home_search {
  position: sticky;

  /* height: 600px; */
  width: 100%;
  /* max-height: 32vh; */
  /* padding-top: 25px; */
  /* float: left; */
  top: 99px;
  background-color: white;
  z-index: 3;
}

.Nav_home {
  /* height: 11vh; */
  /* max-height: 99px;   */
  height: 99px;
  position: sticky;
  z-index: 3;
}

.home_test {
  height: 100vh;
  overflow: scroll;
}

.Home_post {
  background-color: #f8f5d5;
  height: auto;
  /* max-height: 57vh; */
  width: 100%;
  overflow: scroll;
  padding-bottom: 30px;
}

.home_block {
  background-color: #f8f5d5;
  height: 100px;
  width: 100px;
}

.home_search_lorem {
  /* float: left; */

  position: absolute;
  margin-top: 60px;
  margin-left: 26.5%;
  /* margin-right: 10%; */
  width: 40%;
  font-size: 30px;
  /* overflow: hidden; */
  /* padding-right: min(10px, 20%); */
}
div {
  /* display: none; */
  margin: 0;
}

.home_search_title {
  position: absolute;
  left: 20%;
  /* text-align: center; */
  margin-top: 40px;
}

.home_search_box {
  width: 50%;

  /* overflow: hidden; */
}

.think_img {
  /* position: absolute; */
  float: left;
  right: -60px;
  margin-left: 59%;
  width: 330px;
  height: 330px;
}

.think_img_box {
  /* position: absolute; */
  /* background-color: #339c64; */
  /* margin-top: -140px; */
  /* right: 3%; */
  /* float: right; */
  width: 50%;
  /* margin-left: 50%; */
  /* margin-left: min(500px, 50%); */
  margin-left: max(600px, 50%);

  /* float: left; */
  /* position: absolute; */
  /* left: 50%; */
}

.think_img_photo {
  width: 322.2px;
  height: 227.7px;
}

.home_search_input {
  margin-top: 150px;
  position: absolute;
  z-index: 3;
  margin-left: 20%;
  width: max(25%, 320px);
}

.search_input {
  float: left;
  height: 25px;
  width: 80%;
  border: 1.5px solid rgb(0, 0, 0);
}

.search-button {
  position: absolute;
  float: left;
  border: 1.5px solid rgb(0, 0, 0);
  height: 28px;
  width: 28px;
  background-color: black;
}

.Nav_topic {
  position: sticky;
  top: 0;
  text-align: center;
  height: 50px;
  background-color: #f8f5d5;
  z-index: 2;
}

.Topic {
  /* position: absolute; */
  margin-top: 15px;
  float: left;
  width: 6%;
  /* min-width: 50px; */
  margin-left: 22%;
  margin-right: 22%;
  /* margin: auto; */
}

.Topic:hover {
  color: #339c64;
  border-bottom: 1px solid #339c64;
  border-width: 2px;
}

.Home_page {
  height: 100vh;
  overflow: hidden;
}
