@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

.hello-page {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  height: 100%;
  width: 90%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
  min-width: 800px;
  margin: 70px;
}

.hello-text {
  font-size: 28px;
  font-weight: 700;
}

.next-text {
  font-size: 28px;
}



.hello-button {
  display: flex;
  /* align-items: center; */
  margin-left: 600px;
  margin-top: 50px;
  color: #339C64;
  font-weight: 700;
  height: 40px;
  /* justify-content: center; */
  /* height: 200px; */
}

.hello-skip {
  padding: 30px;
  font-size: 28px;
  /* height: 40px; */
  margin: 0px;
  cursor: pointer;
  margin-right: 30px;
}

.hello-begin {
  font-size: 28px;
  background-color: #339C64;
  color: white;
  height: 60px;
  margin-top: 15px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 70px;
}

.hello-begin > p {
  height: 40px;
  padding: 0px;
  margin: 0px;
  width: 220px;
  text-align: center;
  margin-top: 13px;
  
}