.success-popup {
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -300px;
  height: 80px;
  width: 600px;
  background-color: rgba(214, 235, 224, 0.7);
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 9;
}
.smile-img {
  width: 120px;
  height: auto;
}
.success-popup h3 {
  font-size: 25.7px;
}

.fail-popup {
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -300px;
  height: 80px;
  width: 600px;
  background-color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 9;
}

.fail-popup h3 {
  color: white;
  font-size: 25.7px;
  margin: 0 auto;
}
