.user-info {
  margin-left: 70px;
  top: -214px;
  position: relative;

  /* height: 600px; */
  /* width: 100%; */
  /* background-color: black; */
}
.profile-pic {
  padding: 20px;
  position: relative;
  margin-left: 34px;
  margin-top: 0px;
  top: 241px;
  border: 1px solid #000000;
  width: 160px;
  height: 160px;
}
.profile-pic-setup {
  text-align: center;
}
.username {
  position: relative;
  margin-left: 312px;
  margin-top: 53px;
}

.bio {
  position: relative;
  margin-left: 312px;
  margin-top: 10px;
}

.firstname {
  position: relative;
  margin-left: 48px;
  margin-top: 10px;
}

.lastname {
  position: relative;
  margin-left: 312px;
  margin-top: -59px;
}

.education {
  position: relative;
  margin-left: 48px;
}

.contact {
  position: relative;
  margin-left: 48px;
  margin-top: 18px;
}

.input-firstname {
  background: #f8f5d5;
  border: 0px solid #000000;
  font-weight: 400;
  resize: none;
  font-size: 16px;
  width: 210px;
  height: 18px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.input-lastname {
  background: #f8f5d5;
  border: 0px solid #000000;
  resize: none;
  font-size: 16px;
  width: 210px;
  height: 18px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.input-bio {
  background: #f8f5d5;
  border: 0px solid #000000;
  resize: none;
  font-size: 16px;
  width: 300px;
  height: 78px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.input-username {
  background: #f8f5d5;
  border: 0px solid #000000;
  resize: none;
  font-size: 16px;
  width: 210px;
  height: 18px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
}

.profile-bottom {
  position: relative;
  margin-left: 200px;
  margin-top: 0px;
  list-style-type: none;
}

.home-button {
  position: relative;
  text-decoration: none;
  color: black;
  top: 44px;
  left: 190px;
  /* margin-left: 180px; */
  /* margin-top: 54px; */
  width: 150px;
  cursor: pointer;
  z-index: 5px;
}
.save-button {
  position: relative;
  border-radius: 25px;
  padding: 10px 10px;
  top: 0px;
  left: 319px;
  /* background-color: #339c64; */
  border: none;
  cursor: pointer;
  width: 135px;
}
.save {
  position: relative;
  margin-top: 0px;
  width: 0px;
  /* z-index: 0; */
}
/* Add Education */
.education-content {
  border: 1px solid rgba(0, 0, 0, 1);
  width: 75%;
  margin-left: 47px;
}

.education-all-date {
  color: #339c64;
}

.input-ig {
  width: 200px;
  height: 100px;
}

.edit-education-button {
  cursor: pointer;
}
