.view_post_poup {
  background-color: #d6ebe0;
  width: 100%;
  height: 100vh;
  overflow: scroll;
  position: relative;
  /* padding: 80px 0; */
}

.view_post {
  padding: 80px 0;
}

.view_post_nav {
  height: 70px;
}

.view_post_fullpost {
  margin-left: 5%;
  width: 90%;
  height: auto;
  background-color: white;
  position: relative;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

.view_post_fullpost_backtohome {
  width: auto;
  margin-left: 2%;
  padding-top: 40px;
  position: relative;
  top: -80px;
  font-weight: 700;
}

.view_post_fullpost_backtohome_arrow {
  margin-top: -3px;
  float: left;
  color: #339c64;
  height: 30px;
  width: 30px;
}

.view_post_fullpost_backtohome_link {
  margin-left: 8px;
  text-decoration: none;
  color: #339c64;
  font-size: 15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.view_post_fullpost_title {
  margin-top: 70px;
  width: 90%;
  margin-left: 5%;
  font-size: 28px;
  /* font-family: "Quicksand"; */
}

.view_post_fullpost_profile {
  margin-left: 5%;
  width: 90%;
  font-size: 16px;
}

.view_post_fullpost_profile_username {
  margin-top: 15px;
  padding-top: 8px;
}

.view_post_fullpost_photo {
  margin-top: 40px;
  /* background-color: #4d5250; */
  margin-left: 17.5%;
  width: 65%;
  /* overflow: hidden; */
  /* height: 371px; */
}

.view_post_fullpost_coverimg {
  width: 100%;
}

.view_post_fullpost_content {
  margin-left: 5%;
  margin-right: 5%;
  font-size: 16px;
  margin-top: 80px;
  margin-bottom: 80px;
  word-wrap: break-word;
}

.view_post_comment {
  position: relative;
  margin: 0 5%;
}

.view_post_fullpost_img {
  margin: 0 5%;
  border-bottom: 1px solid black;
}

.view_post_fullpost_miniimg {
  height: 400px;
  width: 40%;
  margin: 0 5% 80px 5%;
  display: inline-block;
  overflow: hidden;
}

.view_post_fullpost_miniimg_center {
  display: flex;
  align-items: center;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.post_img {
  width: 100%;
  height: auto;
  /* max-height: 300px; */
  cursor: pointer;
}

.view_post_interact {
  margin: 0 5%;
  position: relative;
  padding-top: 20px;
}

.view_post_commentbox {
  display: inline-block;
  margin-left: 40px;
}

.view_post_likebox {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.view_post_reportbox {
  position: absolute;
  top: 20px;
  right: 0;
  cursor: pointer;
}

.view_post_commentinputbox {
  margin: 20px 5% 0 5%;
  padding-bottom: 30px;
}

.view_post_text {
  position: relative;
  display: inline-block;
  bottom: 9px;
  margin-left: 15px;
}

.view_post_text p {
  display: inline-block;
  width: 15px;
}
.view_post_comment_input {
  padding: 0 20px;
  width: 60%;
  /* width: 300px; */
  height: 30px;
  background-color: #f8f5d5;
  margin-right: 30px;
  border-radius: 6px;
  border: none;
}

.view_post_comment_button {
  color: #339c64;
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  top: 10px;
}

.view_post_comment_button:active {
  opacity: 0.5;
}

.viewpost_report_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -275px;
  margin-left: -170px;
}

.display_none {
  display: none;
}

.view_post_report_icon {
  cursor: pointer;
}

.view_post_report_icon:active {
  opacity: 0.5;
}

.viewpost_miniprofile_popup {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -335px;
  margin-top: -150px;
}

.profile_miniimg {
  position: relative;
  z-index: 10;
  height: 40px;
  width: 40px;
}

.cover {
  position: fixed;
}
