.addtopicadmin {
  position: relative;
  border-radius: 8px;
  background-color: #D6EBE0;
  border: 1px solid #989898;
  width: 40%;
  margin: auto auto;
  height: 320px;
  padding: 10px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
}

.headaddtopic {
  font-size: 35px;
  font-weight: 600;
  margin: 10px auto;
  text-align: center;
}

.bodyaddtopic {
  margin-top: 40px;
  width: 100%;
}

.topicname {
  display: flex;
  width: 80%;
  margin: auto auto;
}

.topicnameedit {
  font-size: 25px;
  font-weight: 600;
  width: 20%;
  margin: auto 0px;
}

.topicnametext {
  background-color:#F8F5D5;
  width: 70%;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  border: none;
  resize: none;
  outline: none;
  padding: 5px;
}

.outlinebox {
  background-color:#F8F5D5;
  width: 70%;
  height: 28px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  resize: none;
  outline: none;
  padding: 5px;
  border: 1px solid;
}

.icontopic {
  margin: auto 0px auto 3%;
  cursor: pointer;
}

.addtocata {
  display: flex;
  width: 80%;
  margin: 30px auto;
}

.catanameedit {
  font-size: 25px;
  font-weight: 600;
  width: 40%;
  margin: auto 0px;
}

.dropboxcata {
  margin-left: 3%;
  margin: auto 2%;
}

.cataname {
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
}

.bottomaddtopic {
  width: 100%
}

.confirmaddtopic {
  margin-left: 65%;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  background-color: #E7DB73;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  transition-duration: 0.2s;
  cursor: pointer;
}

.confirmaddtopic:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24), 0 3px 3px 0 rgba(0,0,0,0.19);
  font-size: 28px;
  background-color: #E7DB73;
}

.dis {
  margin-left: 65%;
  position: relative;
  font-weight: 600;
  font-size: 24px;
  background-color: gray;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  border: none;
  transition-duration: 0.2s;
}
