.checkbox-wrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-left: 3em;
  border: 0.15em solid gray;
  outline: none;
  cursor: pointer;
}

.checkbox-wrapper {
  margin-bottom: 3%;
  margin-left: 10%;
}

input.checked {
  background-color: #339C64;
  position: relative;
}

input[type="checkbox"].checked {
  border: 0.15em solid #339C64;
}

input.checked::before {
  content: "\2714";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.checkbox-wrapper input[type="checkbox"]:hover {
  box-shadow: 0 0 2px #339C64;
  border: 0.15em solid #339C64;
}
