.comment_child_mainbox {
  position: relative;
  /* background-color: aqua; */
  height: auto;
  border-left: 2px solid #dcdcdc;
  margin-top: 0px;
  margin-bottom: 0px;
  /* width: 448px; */
  width: 668;
  overflow: hidden;
}

.comment_child_content {
  position: relative;
  left: 105px;
}

.reply_content {
  position: relative;
  left: 105px;
}
