.comment_child_mainbox {
  position: relative;
  /* background-color: aqua; */
  height: auto;
  border-left: 2px solid #dcdcdc;
  margin-top: 0px;
  margin-bottom: 0px;
  /* width: 448px; */
  width: 668;
  overflow: hidden;
}

.comment_child_content {
  position: relative;
  left: 105px;
}

.reply_content {
  position: relative;
  left: 45px;
  top: -14px;
}

.comment_x_button {
  position: absolute;
  top: 15.5px;
  left: 517px;
  width: 11px;
  height: auto;
  cursor: pointer;
}