.dropdown_hide {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  right: 50px;
  color: black;
  height: 516px;
  text-align: left;
  font-size: 20px;
  border-radius: 5px;
  margin: 0px 0px;
  border: 1px solid #000000;
  overflow: hidden;
}

.dropdown_show .dropdown-content {
  display: block;
}

.noti-text {
  letter-spacing: 4px;
  padding-left: 25px;
  padding-bottom: 15px;
  font-size: 26px;
}

.noti-content {
  height: 430px;
  width: 400px;
  padding: 0px 0px;
  /* background-color: yellow; */
  overflow: scroll;
}

.noti-view-more {
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-top: 1px solid #dcdcdc;
  margin-top: 0px;
  background-color: #63f6a8;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
}

.noti-view-more:hover {
  background-color: #339c64;
}

.unread {
  height: 65px;
  width: 400px;
  background-color: #d6ebe0;
  font-size: 16px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 0px;
  display: block;
  text-align: center;
  padding: 10px;
}

.read {
  height: 65px;
  width: 400px;
  background-color: #f9f9f9;
  font-size: 16px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 0px;
  text-align: center;
  padding: 10px;
}

