@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap");

* {
  font-family: "Prompt", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.Header {
  height: auto;
  width: 100%;
  min-height: 60px;
  overflow: hidden;
}

.Topic_text {
  margin-top: 40px;
}

.PostBox {
  background-color: white;
  margin: auto;
  top: 100px;
  height: auto;
  width: 60%;
  max-width: 600px;
  margin-top: 30px;
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 1%;
  border: 1px solid #f5f5f5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 8px;
}

.UserProfile {
  background-color: black;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
  margin-right: 20px;
  z-index: 3;
  cursor: pointer;
}

.FakeImage {
  background-color: rgb(175, 175, 175);
  margin: auto;
  height: 200px;
  width: 100%;
  /* padding: 20px; */
}

.Content {
  margin-top: 20px;
  height: auto;
  max-height: 87px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
  display: -webkit-box !important;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.like_box_value,
.comment_box_value,
.share_box {
  float: left;
  margin-left: 10px;
}

.like_box_value {
  margin-top: -4px;
  margin-left: 0px;
}

.like_box {
  float: left;
  margin-top: 2px;
  margin-left: 10px;
}

.comment_box {
  margin-top: 2px;
  float: left;
  margin-left: 10px;
}

.comment_box_value {
  margin-left: 30px;
}

.share_box {
  margin-left: 30px;
}

.interact {
  padding-bottom: 26px;
  width: 100%;
}

.More {
  text-align: center;
  font-size: 100%;
  height: auto;
  width: min(80px, 18%);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 3%;
  padding-right: 3%;
  color: black;
  font-size: 16px;
  left: -5%;
  bottom: 3%;
  background-color: #d6ebe0;
  text-decoration: none;
  position: absolute;
  margin-right: 10%;
  margin-left: 80%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.btn_dropdown_report {
  position: absolute;
  z-index: 5;
  background-color: white;
  border: none;
  width: 0px;
  top: -6px;
  right: 8px;
  cursor: pointer;
}

.btn_where {
  position: absolute;
  display: none;
}

.btn_where2 {
  height: 64px;
  width: 103px;

  position: absolute;
  top: 4%;
  background-color: white;
  z-index: 4;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
}

.test_btn {
  position: absolute;
  right: 1%;
  top: 4%;
  margin-right: 50px;
}

.post_report_btn {
  position: absolute;
  bottom: 10px;
  left: 7px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.post_report_btn:hover {
  color: #339c64;
  text-decoration: underline;
}

.dropdown_iconri {
  height: 40px;
  width: 50px;
}

/* .post_profile {
  position: absolute;
  width: 40%;
  height: 50%;
  background-color: aqua;
  left: 30%;
  top: 25%;
} */

.miniprofile_post {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  left: 50%;
  margin-left: -300px;
  display: flex;
  justify-content: center;
}
.display_none {
  display: none;
}

.cover {
  position: absolute;
  top: 0;
  background-color: white;
  height: 100vh;
  width: 100%;
  z-index: 6;
  opacity: 0.5;
}

.reportpost_popup {
  position: absolute;
  top: 50%;
  margin-top: -275px;
  left: 50%;
  margin-left: -170px;
  display: flex;
  justify-content: center;
  z-index: 7;
}

.reportpost_none {
  display: none;
}

.post_relative1 {
  position: relative;
  height: 400px;
}

.post_relative {
  position: relative;
}

.comment_all {
  position: absolute;
  width: 300px;
  height: 400px;
  left: 36%;
  background-color: aqua;
  z-index: 7;
}

.maikanza {
  height: auto;
}
