@import url("https://fonts.googleapis.com/css2?family=Prompt&family=Quicksand&display=swap");

* {
  font-family: "Prompt", sans-serif;
  font-family: "Quicksand", sans-serif;
}

.TitleHead_box {
  height: 60px;
  /* padding-left: 30px; */
  /* position: absolute; */
  /* float: left; */
  /* position: absolute; */
  /* font-size: 20px; */
  /* position: absolute; */
}

.TitleHead {
  /* position: relative; */
}
.Header {
  /* position: absolute; */
  /* float: left; */
  /* background-color: black; */
}

.PostBox {
  background-color: white;
  margin: auto;
  top: 100px;
  height: 660px;
  width: 60%;
  margin-top: 30px;
  padding-top: 1%;
  padding-left: 6%;
  padding-right: 6%;
  padding-bottom: 1%;
}

.UserProfile {
  background-color: black;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  float: left;
}

.FakeImage {
  background-color: rgb(175, 175, 175);
  margin: auto;
  height: 200px;
  width: 700px;
  padding: 20px;
}
