.reportpost_popupbox {
  background-color: #d6ebe0;
  height: 576px;
  /* min-height: 600px; */
  width: 340px;
  min-width: 300px;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  position: relative;
  border: 0.5px solid black;
}

.reportpost_popupbox h3 {
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.03em;
  border-bottom: 1px solid black;
}

.reportpost_box {
  padding: 25px;
}

.reportpost_exit {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
}

.checkbox-round input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  border: 0.15em solid #339c64;
  appearance: none;
  cursor: pointer;
  display: inline-block;
}

.checkbox-round label {
  display: inline-block;
  margin: 0.3em 0 0.55em 0.7em;
}

.checkbox-round input:checked {
  position: relative;
  left: 0.3em;
  width: 0.7em;
  height: 0.7em;
  background-color: #339c64;
  box-shadow: 0 0 0 0.15em #d6ebe0, 0 0 0 0.3em #339c64;
  margin-right: 0.6em;
}

.report_other {
  width: 235px;
  height: auto;
  min-height: 30px;
  margin-left: 2em;
  border-radius: 6px;
  border: 1px solid;
  background-color: #f8f5d5;
  padding-left: 15px;

  /* display: block; */
}

.report_display {
  display: none;
}

.checkbox-round button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  background: rgba(231, 219, 115, 1);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 200px;
  margin-left: -100px;
  padding: 12px 0;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.checkbox-round button:active {
  opacity: 0.5;
}

.reportpost_box h4 {
  padding-bottom: 20px;
}

.Success_popup {
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -300px;
  height: 80px;
  width: 600px;
  background-color: rgba(214, 235, 224, 0.7);
  display: flex;
  align-items: center;
  overflow: hidden;
}

.invisible {
  opacity: 0;
}

.smile_img {
  width: 120px;
  height: auto;
}

.Success_popup h3 {
  font-size: 25.7px;
}

.Action_fail_pop_up {
  position: fixed;
  top: 50%;
  margin-top: -40px;
  left: 50%;
  margin-left: -300px;
  height: 80px;
  width: 600px;
  background-color: black;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.Action_fail_pop_up h3 {
  color: white;
  font-size: 25.7px;
  margin: 0 auto;
}
