.verify_resend {
    position: absolute;
    right: 220px;
    bottom: 5px;

    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    color: #339C64;
}

.verify_button {
    position: absolute;
    right: 30px;
    bottom: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
    width: 160px;
    height: 50px;

    background: #339C64;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
    border: 1px solid black;

    font-family: 'Quicksand';
    font-style: normal;
    font-size: 24px;
    font-weight: bolder;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}