.talk_img {
    width: 500px;
    height: 500px;
}

input {
    position: absolute;
    background: #F8F5D5;
    border-radius: 16px;
}

h1 {
    position: absolute;
    width: 164px;
    height: 60px;
    left: 892px;
    top: 239px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #339C64;
}


#email {
    width: 425px;
    height: 70px;
    left: 761px;
    top: 401px;
}

#password {
    width: 425px;
    height: 70px;
    left: 761px;
    top: 506px;
}

.login-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 96px;
    gap: 10px;

    position: absolute;
    width: 425px;
    height: 67px;
    left: 761px;
    top: 647px;
    background: #339C64;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 32px;
}